// @keyframes bang {
//   from {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
//   }
// }
// .makeStyles-btnDiv-38 {
//   .hoverme {
//     position: relative;
//     span {
//     }
//     .animation__i {
//       position: absolute;
//       display: block;
//       left: 50%;
//       top: 0;
//       width: 5px;
//       height: 5px;
//       border-radius: 10px;
//       background: red;
//       opacity: 0;
//     }
//     &:hover {
//       @for $i from 1 through 50 {
//         i:nth-of-type(#{$i}) {
//           transform: translate3d(
//               random(190) - 100 + px,
//               random(50) - 100 + px,
//               0
//             )
//             rotate(random(360) + deg);
//           background: hsla(random(360), 100%, 50%, 1);
//           animation: bang 1000ms ease-out forwards;
//           opacity: 0;
//         }
//       }
//     }
//   }
// }
.button {
  padding: 30px 60px;
  border-radius: 200px;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  cursor: pointer;
  border: clamp(10px, 1vw, 10px) solid #ccc;
  font-size: clamp(50px, 10vw, 250px);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1), filter 300ms;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    filter: blur(4px);
    transform: scaleY(0.7) scaleX(0.8);
  }

  &--confetti {
    background: linear-gradient(90deg, hotpink, blueviolet);
    background-clip: text;
  }

  &--sparkles {
    background: linear-gradient(90deg, yellowgreen, gold);
    background-clip: text;
  }

  &--custom {
    background: linear-gradient(90deg, dodgerblue, navajowhite);
    background-clip: text;
  }
}
